body{
    background-color: rgba(0, 0, 0, 0.836);
}
.im{
    font-size: 1.5rem;
    position: relative;
    padding-left: 20rem;
    padding-top: 20%;
}

.reset{
    border-radius: 10px;
    background-color: crimson;
    color: aliceblue;
    width: 80px;
    height: 50px;
}

.p {
    color: rgb(10, 10, 10);
    position: relative;
    left: 36%;
    width: 200px;
    height: 60px;
    border-radius: 20px;
    background-color: #ffffff;
}

.im span {
    color: #ffffff;
}